
body {
    background: rgb(243, 243, 243);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

.a-link {
  text-decoration: none;
  color: var(--link);
  cursor: pointer;
}

.el-form-item {
  align-items: center;
}
